# Assignment- 2

In [4]:
#Q1). Discuss string slicing and provide examples.

#A1). String slicing in Python allows you to extract a portion of a string by specifying a start and end index. It follows the format string[start:end], where start is the index where slicing begins (inclusive) and end is the index where it ends (exclusive).

#For Example
str1 = "I am a good student"
#For instance, if I want to extract or slice a specific part of the string, for example, 'good student', I can follow these following stpes.
str1[7:]

'good student'

In [5]:
#Another example
#Now lets suppose if I want to extract 'I am'.
str1[0:4]

'I am'

In [7]:
#If I want to extract only the last three elements of the string then I can follow these next steps.
str1[-3:]

'ent'

In [9]:
#Q2.) Explain the key features of lists in Python.

#A2.) Features of List are:- 
#1.) They are mutable. That means the values stored inside the list can be mutated or changed according to our needs.
#2.) They are heterogeneous. That means a list can store any type of data inside it. For example. mylis= [1, 2.2, True, 3+5j, "alex"].
#3.) They are ordered collection of items.
#4.) List elements can be accessed by index.
#5.) List can be nested.

In [13]:
#Q3.) Describe how to access, modify, and delete elements in a list with examples.

#A3.) Since list is mutable, accessing, modifying and deleting elements is very simple. All the elements or items inside are indexed and with the help of index numbers, we can modify, access or delete the elements.
#For Example.
my_list= ["Alex", 1, 2.5, True, 9+4j, "john"]
#Accessing the elements from my_list.
#Now lets suppose if I want to access the name 'john', I would simply follow the index number the name 'john' is on and I would call that index number in order to access that element.
my_list[5] #This will print the name "john"
#With the help of indexing, I can also access the individual value in 'john' 
my_list[5], my_list[5][1]

('john', 'o')

In [14]:
#Modifying the elements in my_list.
my_list= ["Alex", 1, 2.5, True, 9+4j, "john"]
#Now lets suppose if I want to modify the name "Alex" to "max", then I will follow these steps.
my_list[0] = "max"
my_list

['max', 1, 2.5, True, (9+4j), 'john']

In [15]:
#Now lets suppose if I want to add a new element inside the list, then I will follow these next steps.
my_list.append(1000)
my_list

['max', 1, 2.5, True, (9+4j), 'john', 1000]

In [21]:
#Deleting the elements from the list.
list1 = [ "a", 2.5, "alex", True]
#Now lets suppose if I want to delete the boolean value True fron the list, then I will follow these steps.
list1.pop()
#This is one of the ways of deleting an element from the list.
#Using only pop(), allows us to remove an element from the list that lies at the very end of the list, and by executing this line of code, it automatically deletes the element that is ot the end of the list.
#Now lets try removing the float number 2.5
list1.pop(1)
list1
#As we can see, that both, True and 2.5 have been removed from the list using the pop() feature.

['a', 'alex']

In [22]:
#Another way of removing elements from the list is.
list1.remove("a")
list1
#As we can see, the element "a" has now been removed from the list

['alex']

In [ ]:
#Q4.) Compare and contrast tuples and lists with examples.

#A4.) Since we already know that list is an ordered colletion of items. Therefore, both list and tuples are the sequence of data types in python that can stored a collection of items.
#however, that have some key differences in terms of mutability, synthax and usage.

## Tuples

In [2]:
#Mutability
#Tuples are immutable, meaning once they are created, they cannot be modified, added or removed.
t = ("a", 1, 2)
t.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [3]:
#Synthax 
#Tuples are defined using paranthesis '()'
t = (1,2, "a")
t

(1, 2, 'a')

In [4]:
#Use cases
#Tuples are often used for fixed collections of items, such as coordinates, RGB values, or other related items that should not change.

#Methods 
#Tuples have fewer built-in methods compared to lists. Common methods include 'count()' and 'index()'.

## Lists

In [6]:
#Mutability 
#Lists are mutable that means you can add, remove or change the elements inside the list once it has been created.
l = [1,2,3]
l.remove(1)
l

[2, 3]

In [7]:
#Synthax
#Lists are defined using square brackets '[]'
l = ["a","b","c"]
l

['a', 'b', 'c']

In [8]:
#Use cases
#Lists are used for collections of items that may need to change or be modified over time, such as a list of tasks, users, or dynamic data.

#Methods
#Lists have a wider range of built-in methods for manipulation, including 'append()', 'extend()', 'insert()', 'remove()', 'pop()', 'sort()', 'reverse()', and more.

In [11]:
#Q5.)  Describe the key features of sets and provide examples of their use.

#A5.) Sets in Python are collections of unique, unordered elements. They are used to perform mathematical set operations like union, intersection, and difference.
#Features of sets are:
#Unordered
#Sets do not maintain any order. When you print a set, elements may appear in a different order than they were added.
s= {1,2,3,"alex", True,2.2}
s

{1, 2, 2.2, 3, 'alex'}

In [12]:
#Unique Elements
#Sets automatically removes duplicate elements. Each element in a set must be uniqu.
s = {1,1,1,2,2,2,3,3,3,4,4,4}
s

{1, 2, 3, 4}

In [13]:
#Mutable
#Sets themselves are mutable; you can add or remove elements. However, the elements contained in a set must be immutable (e.g., numbers, strings, tuples).
s = {1,2,3,"alex"}
s.remove("alex")
s

{1, 2, 3}

In [14]:
#Adding elements in a set
s.add("john")
s

{1, 2, 3, 'john'}

In [15]:
#No Indexing
#Since sets are unordered, you cannot access elements by index. There is no slicing or indexing with sets.
s = {1,2,3,True}
s[0]

TypeError: 'set' object is not subscriptable

In [16]:
#Built-in Methods
#Sets come with several built-in methods that allow for easy set operations. Common methods include 'add()', 'remove()', 'union()', 'intersection()', 'difference()', and 'symmetric_difference()'.

In [ ]:
#Q6.) Discuss the use cases of tuples and sets in Python programming.

#Q6.) Tuples and sets in Python have distinct properties that make them suitable for different use cases. Below are some of the use cases of tuples and sets

## Use cases of Tuples

In [1]:
#Fixed Collection
#Tuples are ideal for storing a fixed collection of items. Since they are immutable, the data they contain is protected from changes.
t = (1,2,3)
t

(1, 2, 3)

In [2]:
#Immutable Records
#One of the feature of tuples is that after once they are created, they cannot be modified, removed or changed. Theyfore they are suitable for storing a database records
t = ("alex", 100, "math")
t.remove("math")

AttributeError: 'tuple' object has no attribute 'remove'

In [4]:
#Dictionary Keys
#Tuples can be used as keys in dictionaries because they are immutable and hashable.
Phone_number= {("dad", "personal number"):"1234-3456"}
Phone_number

{('dad', 'personal number'): '1234-3456'}

In [5]:
#Aggregated Data
#Unlike list, Tuples are also heterogenous, that means they can store different data types in a single entity.
t = ("alex", 1.5, 2, True, 3+9j)
t

('alex', 1.5, 2, True, (3+9j))

## Use Cases of Sets

In [6]:
#Removing Duplicates
#One fo the use case or key feature of sets is that it only shows items that are unique and ignores the items that are repeating itselves.
s = {1,1,1,2,2,2,3,3,3,4,4,4}
s

{1, 2, 3, 4}

In [7]:
#Membership Testing
#Sets provide an efficient way to check for the presence of an item.
s = {'alex', 1,2,3,4,True}
'alex' in s

True

In [10]:
#another way of doing that is
prime_numbers = {2,3,5,7}
is_prime = 7 in prime_numbers
is_prime

True

In [12]:
#Unique Elements Collection
#Sets are used when you need a collection of unique elements.
s = {True, 'banana', 'apple',1.2,2}
s

{1.2, 2, True, 'apple', 'banana'}

In [13]:
#Fast Lookups
#Sets are optimized for fast membership tests, making them suitable for scenarios where quick lookups are required.
s = {'banana','apple','pear','mango'}
"pear" in s

True

In [15]:
#Mutability
#Sets are mutable, which means the records stored inside sets can be removed, added or changed.
s = {'apple', 'pear','banana'}
s.remove('apple')
s

{'banana', 'pear'}

In [16]:
s.add('notebook')
s

{'banana', 'notebook', 'pear'}

In [17]:
s.pop() #Since sets are not indexed, this code will remove a random value of element unlike in list where it is used to remove the last elemenet.
s

{'banana', 'pear'}

In [20]:
#Q7.) Describe how to add, modify, and delete items in a dictionary with examples.

#A7.) Dictionaries are is a type of datastructure that can store data as key value pair. Keys are unique and immutable, but the values stored inside the keys can be added, changed or removed.

#Lets suppose this is our dictionary
dic1 = {"name" : "John", "country": "India", "phone number": 12345}
dic1 #By executing dic1 we get the values stored inside dic1.

{'name': 'John', 'country': 'India', 'phone number': 12345}

In [21]:
#In order to add an element in the dict1 we need to follow these steps
dic1 = {"name" : "John", "country": "India", "phone number": 12345}
dic1["age"] = [21] #In order to add a key key and value in an old dictionary, first we need to call the variable name of our dictionary along with assigining a new key name that we want to include. Then with the help of '=', we can give that key a value of our choice. .
dic1

{'name': 'John', 'country': 'India', 'phone number': 12345, 'age': [21]}

In [37]:
#Another way of modifying the dictonary is using the update.() function
dic1 = {"name" : "John", "country": "India", "phone number": 12345}
dic2 = {"gender":"male", "job":"manager"}
dic1.update(dic2) #This function will help update the values of one dictionary into the other 
dic1

{'name': 'John',
 'country': 'India',
 'phone number': 12345,
 'gender': 'male',
 'job': 'manager'}

In [22]:
#In order to modify a value, we have to follow these steps.
dic1 = {"name" : "John", "country": "India", "phone number": 12345}
#For example lets modify the value stored insdie the key "country" into "america"
dic1["country"] = ["america"] #In order to change the value of a key, we need to first call that key along with the variable name, and then with the help of '=', we can assing that key a new value.
dic1

{'name': 'John', 'country': ['america'], 'phone number': 12345}

In [28]:
#In order to delete the items in the dictionary we can use various techniques.
dic1 = {"name" : "John", "country": "India", "phone number": 12345}
#One of the ways to delete the items in the list is using del function
del dic1["name"] #This function helps delete the value stored inside the dictionary by calling the key whose value we want to delete.
dic1

{'country': 'India', 'phone number': 12345}

In [29]:
#Using pop() function
dic1 = {"name" : "John", "country": "India", "phone number": 12345}
dic1.pop("phone number")
dic1

{'name': 'John', 'country': 'India'}

In [34]:
#Using popitem() function
dic1 = {"name" : "John", "country": "India", "phone number": 12345}
dic1.popitem()
dic1

{'name': 'John', 'country': 'India'}

In [35]:
#using clear() function 
dic1 = {"name" : "John", "country": "India", "phone number": 12345}
dic1.clear() #This will celar the dictionary as a whole.
dic1

{}

In [ ]:
#Q8.) Discuss the importance of dictionary keys being immutable and provide examples.

#A8.) In dictionary the keys are immutable except the values that are stored inside those keys. We can also add or remove key values , but the key name remains unchanged

#Importance of Immutable Keys
#Dictionary keys need to be hashable to ensure efficient lookups. Immutable types such as strings, numbers, and tuples have a fixed hash value which does not change over their lifetime. This makes them suitable as dictionary keys.

#Consistency
#If dictionary keys were mutable, their hash values could change, leading to inconsistencies. This would make it impossible to reliably locate the key-value pair in the dictionary.

#### Examples of Immutable Keys

In [38]:
#String as a key
dic1 = {"grade": 100, "name": "john"}
dic1

{'grade': 100, 'name': 'john'}

In [39]:
#Number as a keys
dic1 = { 1: 'one', 2: 'two', 3: 'three'}
dic1

{1: 'one', 2: 'two', 3: 'three'}

In [42]:
#Tuples as a key
dic1 = {(1,2): "north", (3,4): "south"}
dic1, [dic1[(1,2)]]

({(1, 2): 'north', (3, 4): 'south'}, ['north'])

#### Examples of Mutable Types (Not Allowed as Keys)

In [43]:
#Lists as Keys
dic1 = {[1,2]: "A", [3,4]: "B"}
#This will raise an error
dic1

TypeError: unhashable type: 'list'

In [44]:
#Sets as Keys
dic1 = {{"name"}: "alex", {"age"}:21}
dic1

TypeError: unhashable type: 'set'